<!DOCTYPE html>
<html>
<head>
  {% if site.style == "harmtemolder" %}
  <title>{% if page.title %}{{page.title}}{% endif %}</title>
  <link href="styles/normalize.css" type="text/css" rel="stylesheet" />
  <link href="styles/{{site.style}}.css" type="text/css" rel="stylesheet" />
  {% else %}
  <title> {% if page.title %}{{page.title}} | {% endif %} CV</title>
  <link href="styles/{{site.style}}-screen.css" type="text/css" rel="stylesheet" media="screen" />
  <link href="styles/{{site.style}}-print.css" type="text/css" rel="stylesheet" media="print" />
  {% endif %}
  <meta charset="utf-8" />
</head>
<body>
  <div id="main">
    <div id="content">
    {{content}}
    </div>
  </div>
</body>
</html>
